.barDiv {
    padding-bottom: 20px;
    padding-top: 40px;
}

.search-bar {
    width: 367px;
    height: 48px;
    left: 204px;
    color: inherit;
    top: 185px;
    border: 1px solid #fabd2f;
    box-sizing: border-box;
    border-radius: 12px;
    font: inherit;
    background-color: inherit;
    text-align: center;
}